html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f8fbff;
  color: #1f2937;
  overflow-x: hidden;

  /* MOBILE TYPOGRAPHY */
  font-size: 13px;
}

/* TABLET+ */
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* DESKTOP */
@media (min-width: 1280px) {
  body {
    font-size: 15px;
  }
}
#plansGrid{
  padding-bottom: 100px;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 20px;
}

/* IMAGE */
img {
  display: block;
  width: 100%;
}

/* BUTTON TAP EFFECT */
button,
a {
  -webkit-tap-highlight-color: transparent;
}
/* SWIPER FIX */
.mainSwiper {
  width: 100%;
  overflow: hidden;
}

.mainSwiper .swiper-slide {
  width: 100%;
}

.thumbSwiper {
  width: 100%;
  overflow: hidden;
}

.thumbSwiper .swiper-slide {
  width: auto !important;
  opacity: 0.6;
  transition: 0.3s;
}

.thumbSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.thumbSwiper img {
  display: block;
}